:root {
  --section-padding: 100px 0 128px;
}

body {
  font-family: 'Inter', sans-serif;
}

.section_container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  min-height: var(--sectionMinHeight);
}

.section_layout_container {
  width: 100%;
  max-width: 1080px;
  margin: 0 16px;
}

.section_layout {
  padding: var(--section-padding);
}

.section_padding_bottom {
  --section-padding: 0 0 128px;
}

.section_padding_top {
  --section-padding: 100px 0 0;
}

.no_section_padding {
  --section-padding: 0;
}
